body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

.container {
    margin: 2rem auto;
    max-width: 800px;
    padding: 1rem;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #333;
    color: white;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Re-add if we can figure this out. But this does not change with the active tab */
/* .topnav a.active {
    background-color: #04AA6D;
    color: white;
} */

.topnav .icon {
    display: none;
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 1em 2em; /* Relative to font size */
    font-size: 1.2rem; /* Scales with user's settings */
  }

  .buttonHover:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  }

  .button-red {
    background-color: #b71c1c; 
  }

  .button-green {
    background-color: #4caf50; 
  }

  .button-blue {
    background-color: #2196f3; 
  }
  .button-purple {
    background-color: #4a148c; 
  }

  


  
  
  